body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-image: url(./img/5_background/canvas_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

canvas {
    background-color: black;
}

#canvasDiv {
    text-align: center;
}

.startScreen img{
    height: 100%;
    width: 100%;
}

.d-none {
    display: none;
}

.btnDiv {
    position: absolute;
    top: 75%;
    left: 50%;
}

.btnDiv Button {
    height: 80px;
    width: 270px;
    background-color: #ff2c0094;
    border-radius: 20px;
    color: white;
    font-size: xx-large;
}

.btnDiv Button:hover {
    cursor: pointer;
    background-color: #FFDB05;
}