body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-image: url(./img/5_background/canvas_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: fantasy;
}

canvas {
    background-color: black;
}

#canvasDiv {
    text-align: center;
}

.howTo {
    text-align: center;
    color: #A0220A;
    background-color: #bde4c596;
    border-radius: 20px;
}

.startScreen a{
    color: white;
    text-decoration: none;
    font-size: 8px;
}

.startScreen img{
    width: 65vw;
    margin: 20px;
}

.d-none {
    display: none;
}

.btnDiv {
    text-align: center;
    color: #FFDB05;
}

.btnDiv Button {
    height: 80px;
    width: 270px;
    background-color: #ff2c0094;
    border-radius: 20px;
    color: white;
    font-size: xx-large;
}

.btnDiv Button:hover {
    cursor: pointer;
    background-color: #FFDB05;
}